
table {
    width: 97%;
    border-collapse: collapse;
    margin:20px;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #d4d4d4;
  }
  
  th {
    background-color: #f4f4f4;
  }

  td{
    background-color: #333745;
    color:white;
    font-weight:500;
  }